// assign your snazzy colours here! for now we've just gone with a clasic greyscale.

.darkest_section{
	background-color: black;
	color: $light_section;
}

.darker_section{
	background-color: $darker_section;
	color: white;
}

.dark_section{
	background-color: $dark_section;
	color: grey;
	font-family: $sans-font;
}

.lightest_section{
	background-color:white;
	color: $dark_section
}

// this is where we assign the look of the generic sections, you know the boring ones with just plain text.

section{

	@media screen and (max-width:600px){
		height: 100vh;
		padding: 0;
	}
	position: sticky;
	top:0;
	padding: 2em;
	min-height: 50vh;

	div{
		margin: auto auto;
		padding: 4em;
		text-align: center;

		@media screen and (max-width:600px){
				padding: 0;
				height: 80%;
				width: 00%;
				top:10%;
				left: 0%;
				overflow-y: scroll;
		}

		article{
			text-align: left;
		}
	}
}

// these blocks of CSS control the snazzy sections, like the paralax and the halfpint hero images!



.paralax{
	height: 30vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

	.mover{
		background-size:calc(100vw + 100px);
	}


	// you'll needd to add the background image inline, it saves on having to create multiple classes basically doing the same thing. ex, <section class="paralax" style="background-image: url('image url here')"></section>

	@media screen and (max-width:600px){
		height: 100vh;
	}
}

.right-image{
	height: 50vh;
  padding:0;

	@media screen and (max-width:500px){
			height: 100vh;
	}

	.image{
		background-image: url('https://i.imgur.com/iPKKcS3.jpg');
		width: 50%;
		@media screen and (max-width:500px){
				height: 30%;
				width: 100%;
		}
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		float: right;
		margin: 0  0 0 20px;
		padding: 0;

		div{
			background-color: rgba(0 ,0, 0 ,.25);
	    text-align: center;
	    position: relative;
			width: 100%;
			height: 100%;
	    top: 50%;
			padding: 1em;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    color: white;

			@media screen and (max-width:500px){
					height: 100%;
					width: 100%;
					top:50%;
					left:50%;
					padding: 1em;

			}
		}

	}

	article{
		@media screen and (max-width:500px){
				height: 50%;
				width: 80%;
				top:40%;
				left: 50%;

		}
		position: relative;
		height:70%;
		top: 50%;
		left:31%;
		transform: translate(-50%, -50%);
		width:25%;
		overflow-y: scroll;
	}



}



.left-image{

	height: 50vh;
	padding: 0;

	@media screen and (max-width:500px){
			height: 100vh;
	}

	.image{
		background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
		height: 100%;
		width: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		left: 25%;
		margin: 0 ;
		padding: 0;

		@media screen and (max-width:500px){
				top: 15%;
				height: 30%;
				width: 100%;
				left: 50%;
		}
	}


	div{
		padding: .5em;
		display: inline-block;
		background-color: rgba(0 ,0, 0 ,.25);
		text-align: center;
		position: relative;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		@media screen and (max-width:500px){
				height: 100%;
				width: 100%;
				top:50%;
				left:50%;
				padding: .5em;
				overflow-y: visible;


		}
	}

	article{
		@media screen and (max-width:500px){
				height: 50%;
				width: 80%;
				top:40%;
				left: 30%;

		}
		float: right;
		position: relative;
		height:80%;
		top:50%;
		transform: translate(-50%, -50%);
		width:25%;
	}
}
