// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


nav{
	position: sticky;
	top:0;
}

html{
    height: 100%;
    width: 100%;
}
/* The hero image */
body{
	  background-image: url("https://images.unsplash.com/photo-1503255277138-f8101306ecbb?auto=format&fit=crop&w=1495&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    /* The image used */

    /* Set a specific height */
    height: 100vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header{
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}

/* Place text in the middle of the image */
.hero-text {
		background-color: rgba(0 ,0, 0 ,.25);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.darkest{

}

.dark{

}

.light{

}

.lightest{

}

.half-pint-hero-right{
	background-image: url('https://i.imgur.com/iPKKcS3.jpg');
	height: 100vh;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float: right;
	margin: 0  0 0 20px;
}

.half-pint-hero-left{
	background-image: url('https://i.imgur.com/2TM3PI1.jpg');
	height: 100vh;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float: left;
	margin: 0 20px 0 0;
}

.half-pint-hero-text {
		background-color: rgba(0 ,0, 0 ,.25);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.half-pint-section-text-left{
	position: relative;
	top: 50%;
	left:10%;
	transform: translate(-50%, -50%);
	width:50%
}

.half-pint-section-text-right{
	position: relative;
	top: 50%;
	left:40%;
	transform: translate(-50%, -50%);
	width:50%
}
